In [333]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_path = Path("Resources/schools_complete.csv") 
student_path = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_path)  
student_data_df = pd.read_csv(student_path)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [334]:
# Calculate the total number of unique schools
total_school_count = school_data_complete['school_name'].nunique()
total_school_count

15

In [335]:
# Define the school names
school_names = ["Bailey High School",
"Cabrera High School",
"Figueroa High School", 
"Ford High School",         
"Griffin High School",      
"Hernandez High School",    
"Holden High School",       
"Huang High School",        
"Johnson High School",      
"Pena High School",        
"Rodriguez High School",    
"Shelton High School",      
"Thomas High School",       
"Wilson High School",       
"Wright High School"]

In [336]:
# Calculate the total number of students
total_student_count = school_data_complete['Student ID'].nunique()
total_student_count 

# Group by school 
total_school_students = school_data_complete.groupby(["school_name"])["Student ID"].nunique()
total_school_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [337]:
# Calculate the total budget
total_budget = school_data_complete['budget'].sum()
total_budget

82932329558

In [338]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [339]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [340]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_student_count) * 100
passing_math_percentage

74.9808526933878

In [341]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_student_count) * 100
passing_reading_percentage

85.80546336482001

In [342]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_student_count) * 100
overall_passing_rate

65.17232575950983

In [343]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total School": [total_school_count,],"Total Students" :[total_student_count], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "% Passing Math": [passing_math_percentage], "% Passing Reading": [passing_reading_percentage], "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [344]:
School Summary

SyntaxError: invalid syntax (4294030812.py, line 1)

In [208]:
# Use the code provided to select the type per school from school_data
school_types = school_data_complete.set_index(["school_name"])["type"].nunique()

school_types = school_data_complete.groupby("school_name")["type"].unique()   
school_types

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [209]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete.set_index(["school_name"])["Student ID"].nunique()

per_school_counts

39170

In [210]:
# Calculate the total school budget and total student count per school
per_school_budget = school_data_complete.groupby(["school_name"])["budget"].first()
per_school_capita = school_data_complete.groupby(["school_name"])["Student ID"].count()

# Calculate per student budget
per_student_budget = per_school_budget / per_school_capita
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [264]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.set_index(["school_name"])['math_score'].mean()
per_school_reading = school_data_complete.set_index(["school_name"])['reading_score'].mean()

per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()

per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [212]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]

# Then, group by "school_name" and count unique students
school_students_passing_math = students_passing_math.groupby("school_name")["student_name"].nunique().reset_index(name='student_passed_math')
school_students_passing_math

school_name
Bailey High School       3226
Cabrera High School      1727
Figueroa High School     1917
Ford High School         1843
Griffin High School      1354
Hernandez High School    3034
Holden High School        392
Huang High School        1886
Johnson High School      3087
Pena High School          904
Rodriguez High School    2608
Shelton High School      1633
Thomas High School       1509
Wilson High School       2111
Wright High School       1666
Name: student_name, dtype: int64

In [213]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]

# Then, group by "school_name" and count unique students
school_students_passing_reading = students_passing_reading.groupby("school_name")["student_name"].nunique()
school_students_passing_reading

school_name
Bailey High School       3947
Cabrera High School      1779
Figueroa High School     2345
Ford High School         2128
Griffin High School      1408
Hernandez High School    3659
Holden High School        408
Huang High School        2334
Johnson High School      3775
Pena High School          917
Rodriguez High School    3152
Shelton High School      1668
Thomas High School       1575
Wilson High School       2171
Wright High School       1723
Name: student_name, dtype: int64

In [214]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby("school_name")["student_name"].nunique()
school_students_passing_math_and_reading

school_name
Bailey High School       2649
Cabrera High School      1675
Figueroa High School     1556
Ford High School         1466
Griffin High School      1314
Hernandez High School    2440
Holden High School        378
Huang High School        1540
Johnson High School      2512
Pena High School          866
Rodriguez High School    2095
Shelton High School      1566
Thomas High School       1471
Wilson High School       2038
Wright High School       1613
Name: student_name, dtype: int64

In [311]:
# Create DataFrames for students passing math and reading
school_students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]

school_students_math_rate = school_data_complete[school_data_complete["math_score"] >= 70].count() * 100
school_students_reading_rate = school_data_complete[school_data_complete["reading_score"] >= 70].count() * 100

# Create a DataFrame for students passing both subjects
school_students_passing_math_and_reading = school_data_complete[
    (school_data_complete["math_score"] >= 70) & 
    (school_data_complete["reading_score"] >= 70)
]

# Calculate the number of students passing both subjects
passing_math_and_reading_count = school_students_passing_math_and_reading.groupby("school_name")["student_name"].nunique()

# Calculate the total number of students per school
total_students_count = school_data_complete.groupby("school_name")["student_name"].nunique()

# Calculate the overall passing rate
overall_passing_rate = (passing_math_and_reading_count / total_students_count) * 100

In [331]:
# Create a DataFrame called `per_school_summary`

per_school_summary = pd.DataFrame({
    "School Name": school_names,  
    "School Type": school_types,    
    "Total Students": total_school_students, 
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_budget, 
    "Average Math Score": per_school_math,  
    "Average Reading Score": per_school_reading,  
    "% Passing Math": school_students_math_rate,  
    "% Passing Reading": school_students_reading_rate,  
    "% Overall Passing": overall_passing_rate  
})

# Rearranging the columns
per_school_summary = per_school_summary[["School Name", "School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

# Set the index to be the school names
per_school_summary.set_index("School Name", inplace=True)

# Formatting the Total School Budget
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary.head()

ValueError: array length 15 does not match index length 26

In [51]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
school_data_df = pd.merge(student_data_df, school_data_df, how="left", on="school_name")

top_schools_df = school_data_df[["School Type", "Total School Budget", "Per Student Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
top_schools_df.set_index("School Name", inplace=True)

# Sort the DataFrame by "% Overall Passing" in descending order
top_schools_df = top_schools_df.sort_values(by="% Overall Passing", ascending=False)

# Display the top 5 rows
top_schools_df.head(5)

KeyError: "None of [Index(['School Type', 'Total School Budget', 'Per Student Budget',\n       'Average Math Score', 'Average Reading Score', '% Passing Math',\n       '% Passing Reading', '% Overall Passing'],\n      dtype='object')] are in the [columns]"

In [27]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
top_schools_df = top_schools_df.sort_values(by="% Overall Passing", ascending=False)
bottom_schools = top_schools_df.sort_values('% Overall Passing', ascending=True)

# Reset the index
bottom_schools.reset_index(drop=True, inplace=True)

# Display the top 5 rows
bottom_schools.head(5)

NameError: name 'top_schools_df' is not defined

In [ ]:
Math Scores by Grade

In [54]:
# Use the code provided to separate the data by grade

ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

# Minor data wrangling
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Minor data wrangling
math_scores_by_grade.index.name = "school_name"

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [ ]:
Reading Scores By Grade

In [56]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

# Group by `school_name` and take the mean of the `reading_score` column for each grade
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grade_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into a single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores
})

# Minor data wrangling
reading_scores_by_grade.index.name = "school_name"

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [ ]:
Sccores By School Spending

In [57]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [59]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

school_spending_df = pd.DataFrame({
    'School Name': ['Bailey High School', 'Cabrera High School', 'Figueroa High School'],
    'Total Students': [427, 962, 4976],
    'Total Budget': [248087.00, 585858.00, 3124928.00],
    'Average Math Score': [76.711767, 77.289752, 83.839917],
    'Average Reading Score': [80.746258, 81.158020, 84.044699],
})

# Correct the column name from "budget" to "Total Budget"
school_spending_df["Total Budget"] = school_spending_df["Total Budget"].map("${:,.2f}".format)

In [61]:
print(school_spending_df.columns)

Index(['School Name', 'Total Students', 'Total Budget', 'Average Math Score',
       'Average Reading Score'],
      dtype='object')

In [60]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Display the updated DataFrame
school_spending_df

KeyError: 'Per Student Budget'

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

In [ ]:
Scores by School Type

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary